<header class="topbar">
    <a class="brand" href="#" id="studioHomeLink" aria-label="Flyer Studio home">
      <span class="brand-mark" aria-hidden="true"><i></i><i></i><i></i></span>
      <span><b>FLYER STUDIO</b><small id="currentPageLabel">Home</small></span>
    </a>
    <div class="top-actions hidden" id="builderActions">
      <button id="saveState" type="button" class="save-state" aria-controls="statusPanel"><span></span> Incomplete</button>
      <input id="jsonFile" type="file" accept="application/json,.json" hidden>
      <button id="resetBtn" class="button ghost" type="button">Delete</button><button id="submitConfigBtn" class="button primary" type="button">Submit</button>
    </div>
  </header>
